In [253]:
#Import dependencies

import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [254]:
#Read the individual csv files of Happiness data set and add a column for Year
#Read the csv file for suicide dataset

file_2015_path = "world-happiness/2015.csv"
happiness_2015 = pd.read_csv(file_2015_path)
happiness_2015["Year"] = "2015"

file_2016_path = "world-happiness/2016.csv"
happiness_2016 = pd.read_csv(file_2016_path)
happiness_2016["Year"] = "2016"

file_2017_path = "world-happiness/2017.csv"
happiness_2017 = pd.read_csv(file_2017_path)
happiness_2017["Year"] = "2017"

file_path_18 = "world-happiness/2018.csv"
happiness_2018 = pd.read_csv(file_path_18)
happiness_2018['Year'] = 2018

file_path_19 = "world-happiness/2019.csv"
happiness_2019 = pd.read_csv(file_path_19)
happiness_2019['Year'] = 2019

suicide_path = "who_suicide_statistics/who_suicide_statistics.csv"
suicide_df = pd.read_csv(suicide_path)

In [255]:
happiness_2018.sort_values(by='Country or region',ascending=True)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
144,145,Afghanistan,3.632,0.332,0.537,0.255,0.085,0.191,0.036,2018
111,112,Albania,4.586,0.916,0.817,0.790,0.419,0.149,0.032,2018
83,84,Algeria,5.295,0.979,1.154,0.687,0.077,0.055,0.135,2018
141,142,Angola,3.795,0.730,1.125,0.269,0.000,0.079,0.061,2018
28,29,Argentina,6.388,1.073,1.468,0.744,0.570,0.062,0.054,2018
...,...,...,...,...,...,...,...,...,...,...
101,102,Venezuela,4.806,0.996,1.469,0.657,0.133,0.056,0.052,2018
94,95,Vietnam,5.103,0.715,1.365,0.702,0.618,0.177,0.079,2018
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
124,125,Zambia,4.377,0.562,1.047,0.295,0.503,0.221,0.082,2018
143,144,Zimbabwe,3.692,0.357,1.094,0.248,0.406,0.132,0.099,2018

In [256]:
happiness_2019.sort_values(by='Country or region',ascending=True)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
106,107,Albania,4.719,0.947,0.848,0.874,0.383,0.178,0.027,2019
87,88,Algeria,5.211,1.002,1.160,0.785,0.086,0.073,0.114,2019
46,47,Argentina,6.086,1.092,1.432,0.881,0.471,0.066,0.050,2019
115,116,Armenia,4.559,0.850,1.055,0.815,0.283,0.095,0.064,2019
...,...,...,...,...,...,...,...,...,...,...
107,108,Venezuela,4.707,0.960,1.427,0.805,0.154,0.064,0.047,2019
93,94,Vietnam,5.175,0.741,1.346,0.851,0.543,0.147,0.073,2019
150,151,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077,2019
137,138,Zambia,4.107,0.578,1.058,0.426,0.431,0.247,0.087,2019
145,146,Zimbabwe,3.663,0.366,1.114,0.433,0.361,0.151,0.089,2019

In [257]:
#Renaming of Column headers in the dataframe for Happiness dataset

happiness_2015_rename = happiness_2015.rename(columns={'Country': 'Country', 'Region': 'Region', 'Happiness Rank': 'Happiness_Rank', 'Happiness Score': 'Happiness_Score',
       'Standard Error': "Standard_Error", 'Economy (GDP per Capita)': 'GDP_per_capita', 'Family': 'Family',
       'Health (Life Expectancy)': 'Healthy_life_expectancy', 'Freedom': 'Freedom', 'Trust (Government Corruption)': 'Perceptions_of_corruption',
       'Generosity': 'Generosity', 'Dystopia Residual': 'Dystopia_Residual', 'Year': 'Year'})
happiness_2016_rename = happiness_2016.rename(columns={'Country': 'Country', 'Region': 'Region', 'Happiness Rank': 'Happiness_Rank', 'Happiness Score': 'Happiness_Score',
       'Lower Confidence Interval': 'Lower_Confidence_Interval', 'Upper Confidence Interval': 'Upper_Confidence_Interval',
       'Economy (GDP per Capita)': 'GDP_per_capita', 'Family': 'Family', 'Health (Life Expectancy)': 'Healthy_life_expectancy',
       'Freedom': 'Freedom' , 'Trust (Government Corruption)': 'Perceptions_of_corruption', 'Generosity': 'Generosity',
       'Dystopia Residual': 'Dystopia_Residual', 'Year': 'Year'})
happiness_2017_rename = happiness_2017.rename(columns={'Country': 'Country', 'Happiness.Rank': 'Happiness_Rank', 'Happiness.Score': 'Happiness_Score', 'Whisker.high': 'Whisker_high',
       'Whisker.low' : 'Whisker_low', 'Economy..GDP.per.Capita.': 'GDP_per_capita', 'Family': 'Family',
       'Health..Life.Expectancy.': 'Healthy_life_expectancy', 'Freedom': 'Freedom' , 'Generosity': 'Generosity',
       'Trust..Government.Corruption.': 'Perceptions_of_corruption', 'Dystopia.Residual': 'Dystopia_Residual', 'Year': 'Year'})
happiness_2018_rename = happiness_2018.rename(columns={'Country or region':'Country','Freedom to make life choices':'Freedom',
        'GDP per capita':'GDP_per_capita','Generosity':'Generosity','Healthy life expectancy':'Healthy_life_expectancy','Overall rank':'Happiness_Rank',
        'Perceptions of corruption':'Perceptions_of_corruption', 'Score':'Happiness_Score','Social support':'Social_support'})
happiness_2019_rename = happiness_2019.rename(columns={'Country or region':'Country','Freedom to make life choices':'Freedom',
        'GDP per capita':'GDP_per_capita','Generosity':'Generosity',
        'Healthy life expectancy':'Healthy_life_expectancy','Overall rank':'Happiness_Rank',
        'Perceptions of corruption':'Perceptions_of_corruption',
        'Score':'Happiness_Score','Social support':'Social_support'})

In [258]:
#Concatenating of dataframes in to a single dataframe for the happiness dataset

happiness_all = pd.concat([happiness_2015_rename,happiness_2016_rename,happiness_2017_rename,happiness_2018_rename,happiness_2019_rename])

In [259]:
#Renaming of columns in the Suicide dataset

suicide_df_rename = suicide_df.rename(columns={'country': 'Country', 'year': 'Year', 'sex': 'Sex', 
                                               'age': 'Age', 'suicides_no': 'number_of_suicides', 'population': 'population'})

In [260]:
#Filtering the suicide dataset to the columns needed
#Aggregating the suicide count for each country and year
#Created a copy(suicide_df_count) of original dataframe(suicide_df_rename) to work with

suicide_df_count = suicide_df_rename[['Country','Year','Age','number_of_suicides','population']]

suicide_groupby = suicide_df_count.groupby(['Country','Year']).agg({'number_of_suicides':'count',
                                                                        'population':'first'}).reset_index()

suicide_groupby

                   Country  Year  number_of_suicides  population
0                  Albania  1985                   0    277900.0
1                  Albania  1986                   0    283900.0
2                  Albania  1987                  12    289700.0
3                  Albania  1988                  12    295600.0
4                  Albania  1989                  12    299900.0
...                    ...   ...                 ...         ...
3643  Virgin Islands (USA)  2010                  12      6946.0
3644  Virgin Islands (USA)  2011                  12      6883.0
3645  Virgin Islands (USA)  2012                  12      6833.0
3646  Virgin Islands (USA)  2015                  12      6675.0
3647              Zimbabwe  1990                  12         NaN

[3648 rows x 4 columns]

In [261]:
# Replace null values

happiness_all.fillna(0,inplace=True)
suicide_groupby.fillna(0,inplace=True)

In [262]:
# Connect to a local database
connection_string = f"{'postgres'}:{'ManageData1@'}@localhost:5432/who_world_happiness"

# engine = create_engine(f'postgresql://{connection_string}')
engine = create_engine('postgresql://postgres:ManageData1@@localhost:5432/who_world_happiness')
connection = engine.connect()

#Check for tables
engine.table_names()

['suicides', 'happiness']

In [263]:
# happiness_all.to_sql(name='happiness', con=engine, if_exists='append', index=False)
suicide_groupby.to_sql(name='suicides', con=engine, if_exists='append', index=False)

In [264]:
#Use pandas to load DF into DB
happiness_all.to_sql(name='happiness', con=engine, if_exists='append', index=False)

In [266]:
#query table to make sure it has loaded data 
pd.read_sql_query('select * from happiness', con=engine).head()

,Country,Year,Freedom,GDP_per_capita,Generosity,Healthy_life_expectancy,Happiness_Rank,Perceptions_of_corruption,Happiness_Score,Social_support,Dystopia_Residual,Whisker_high,Whisker_low,Family,Region,Upper_Confidence_Interval,Lower_Confidence_Interval,Standard_Error
0,Switzerland,2015,0.66557,1.39651,0.29678,0.94143,1,0.41978,7.587,0.0,2.51738,0.0,0.0,1.34951,Western Europe,0.0,0.0,0.03411
1,Iceland,2015,0.62877,1.30232,0.43630,0.94784,2,0.14145,7.561,0.0,2.70201,0.0,0.0,1.40223,Western Europe,0.0,0.0,0.04884
2,Denmark,2015,0.64938,1.32548,0.34139,0.87464,3,0.48357,7.527,0.0,2.49204,0.0,0.0,1.36058,Western Europe,0.0,0.0,0.03328
3,Norway,2015,0.66973,1.45900,0.34699,0.88521,4,0.36503,7.522,0.0,2.46531,0.0,0.0,1.33095,Western Europe,0.0,0.0,0.03880
4,Canada,2015,0.63297,1.32629,0.45811,0.90563,5,0.32957,7.427,0.0,2.45176,0.0,0.0,1.32261,North America,0.0,0.0,0.03553